@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

%headline-geologica-lg-medium {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

%headline-geologica-xl-bold {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

%headline-geologica-xxl-extrabold {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
}

%text-geologica-sm-light {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

%text-geologica-sm-regular {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

%text-geologica-sm-medium {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

%text-opensans-md {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

%text-opensans-md-regular {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}